In [154]:
import pandas as pd
import numpy as np

In [155]:
df = pd.read_csv('./data/DS_Sample_3.csv')

In [156]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188 entries, 0 to 187
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Title       188 non-null    object
 1   AirDate     188 non-null    object
 2   Rating      188 non-null    float64
 3   Num_Votes   188 non-null    int64
 4   DirectedBy  188 non-null    object
dtypes: float64(1), int64(1), object(3)
memory usage: 7.5+ KB

In [157]:
df['success'] = df['Rating']*df['Num_Votes']

In [158]:
df.groupby('DirectedBy')['success'].mean().astype(int).max()

32720

In [159]:
from statsmodels.stats.anova import anova_lm
from statsmodels.formula.api import ols
import datetime

In [160]:
datetime?

In [161]:
df['AirDate'] = df['AirDate'].apply(lambda x : x[:4])

In [162]:
df['AirDate'] = df['AirDate'].astype(int)

In [163]:
df

                Title  AirDate  Rating  Num_Votes       DirectedBy  success
0               Pilot     2005     7.5       4349       Ken Kwapis  32617.5
1       Diversity Day     2005     8.3       4213       Ken Kwapis  34967.9
2         Health Care     2005     7.8       3536  Ken Whittingham  27580.8
3        The Alliance     2005     8.1       3428     Bryan Gordon  27766.8
4          Basketball     2005     8.4       3745     Greg Daniels  31458.0
..                ...      ...     ...        ...              ...      ...
183     Stairmageddon     2013     8.0       1743        Matt Sohn  13944.0
184    Paper Airplane     2013     8.0       1748     Jesse Peretz  13984.0
185  Livin' the Dream     2013     9.0       2439    Jeffrey Blitz  21951.0
186          A.A.R.M.     2013     9.5       3401     David Rogers  32309.5
187            Finale     2013     9.8       9269       Ken Kwapis  90836.2

[188 rows x 6 columns]

In [164]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188 entries, 0 to 187
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Title       188 non-null    object
 1   AirDate     188 non-null    int32
 2   Rating      188 non-null    float64
 3   Num_Votes   188 non-null    int64
 4   DirectedBy  188 non-null    object
 5   success     188 non-null    float64
dtypes: float64(2), int32(1), int64(1), object(2)
memory usage: 8.2+ KB

In [166]:
def test(x):
    if x>=2005 and x<=2007: return 'A'
    elif x>=2008 and x<=2010: return 'B'
    elif x>=2011 and x<=2013: return 'C'

In [152]:
df['AirDate'] = df['AirDate'].apply()

In [153]:
df['AirDate'] = df['AirDate'].apply(lambda x : 'B' if x>=2005 and x<=2007 else 'B')

                Title AirDate  Rating  Num_Votes       DirectedBy  success
0               Pilot       A     7.5       4349       Ken Kwapis  32617.5
1       Diversity Day       A     8.3       4213       Ken Kwapis  34967.9
2         Health Care       A     7.8       3536  Ken Whittingham  27580.8
3        The Alliance       A     8.1       3428     Bryan Gordon  27766.8
4          Basketball       A     8.4       3745     Greg Daniels  31458.0
..                ...     ...     ...        ...              ...      ...
183     Stairmageddon       B     8.0       1743        Matt Sohn  13944.0
184    Paper Airplane       B     8.0       1748     Jesse Peretz  13984.0
185  Livin' the Dream       B     9.0       2439    Jeffrey Blitz  21951.0
186          A.A.R.M.       B     9.5       3401     David Rogers  32309.5
187            Finale       B     9.8       9269       Ken Kwapis  90836.2

[188 rows x 6 columns]

,Title,AirDate,Rating,Num_Votes,DirectedBy,success
104,The Banker,B,6.8,2665,Jeffrey Blitz,18122.0
105,Sabre,B,7.7,1963,John Krasinski,15115.1
106,Manager and Salesman,B,8.1,1942,Marc Webb,15730.2
107,The Delivery: Part 1,B,8.4,2048,Seth Gordon,17203.2
108,The Delivery: Part 2,B,8.5,2065,Seth Gordon,17552.5
109,St. Patrick's Day,B,7.7,1922,Randall Einhorn,14799.4
110,New Leads,B,7.8,1885,Brent Forrester,14703.0
111,Happy Hour,B,8.6,2199,Matt Sohn,18911.4
112,Secretary's Day,B,7.9,1892,Steve Carell,14946.8
113,Body Language,B,8.0,1922,Mindy Kaling,15376.0
114,The Cover-Up,B,8.2,1920,Rainn Wilson,15744.0
115,The Chump,B,7.8,1850,Randall Einhorn,14430.0
116,Whistleblower,B,8.0,1909,Paul Lieberstein,15272.0
117,Nepotism,B,8.4,2220,Jeffrey Blitz,18648.0
118,Counseling,B,8.2,1991,Jeffrey Blitz,16326.2
119,Andy's Play,B,8.2,2119,John Stuart Scott,17375.8
120,Sex Ed,B,7.9,1937,Paul Lieberstein,15302.3
121,The Sting,B,7.8,1896,Randall Einhorn,14788.8
122,Costume Contest,B,8.2,1971,Dean Holland,16162.2
123,Christening,B,7.4,1966,Alex Hardcastle,14548.4
124,Viewing Party,B,7.8,1925,Ken Whittingham,15015.0
125,WUPHF.com,B,7.7,1871,Danny Leiner,14406.7
126,China,B,8.2,1958,Charles McDougall,16055.6
127,Classy Christmas,B,9.0,2514,Rainn Wilson,22626.0

In [91]:
df['AirDate'].value_counts()

A       59
2009    29
B       24
2011    23
2012    23
2008    16
2013    14
Name: AirDate, dtype: int64