# [KDT] ch4 데이터 전처리

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
pd.__version__

'1.4.4'

### 결측 값 (missing value)
* isna(), dropna(), fillna()
* 결측값 처리 방법
* 수작업으로 채워 넣음
* 특정값 사용
* 평균값 사용 (전체 평균 혹은 기준 속성 평균)
* 가장 가능성이 높은 값 사용 (회귀분석, 보간법 등)
* 해당 데이터 행을 모두 제거

In [4]:
# 파일 로딩
df_hk_na = pd.read_csv('./data/hk_221206_na.csv')

name            0
jumin7          0
gender          0
height          0
age            16
blood_type     16
company         0
grades          0
salary         16
expenditure     0
dtype: int64

In [5]:
# 결측값 확인
df_hk_na.isna().sum()

name            0
jumin7          0
gender          0
height          0
age            16
blood_type     16
company         0
grades          0
salary         16
expenditure     0
dtype: int64

In [7]:
# df_hk.info() info()로 확인가능
df_hk_na.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         250 non-null    object
 1   jumin7       250 non-null    object
 2   gender       250 non-null    object
 3   height       250 non-null    float64
 4   age          234 non-null    float64
 5   blood_type   234 non-null    object
 6   company      250 non-null    object
 7   grades       250 non-null    object
 8   salary       234 non-null    float64
 9   expenditure  250 non-null    int64
dtypes: float64(3), int64(1), object(6)
memory usage: 19.7+ KB

In [6]:
# df_hk['age'] 확인

,name,jumin7,gender,height,age,blood_type,company,grades,salary,expenditure,car_type
0,hkd1,990623-2,F,161.9,NaN,NaN,A,A,NaN,1975,L
3,hkd101,931226-2,F,155.3,NaN,NaN,B,B,NaN,2935,m
4,hkd102,920123-1,M,188.6,NaN,NaN,B,F,NaN,4015,SS
6,hkd104,990623-1,M,176.0,NaN,NaN,B,A,NaN,2375,L
20,hkd117,860117-2,F,163.0,NaN,NaN,B,A,NaN,3355,L
29,hkd125,780112-2,F,169.1,NaN,NaN,B,A,NaN,4335,L
58,hkd151,781212-1,M,175.8,NaN,NaN,B,A,NaN,4755,L
59,hkd152,770202-1,M,176.8,NaN,NaN,B,A,NaN,4945,L
110,hkd199,820104-2,F,167.2,NaN,NaN,B,A,NaN,3785,L
170,hkd27,730716-1,M,171.7,NaN,NaN,A,B,NaN,6770,m
188,hkd43,830809-1,M,175.1,NaN,NaN,A,C,NaN,4335,m
193,hkd48,780113-1,M,184.0,NaN,NaN,A,C,NaN,5405,m
194,hkd49,770202-2,F,162.6,NaN,NaN,A,A,NaN,2995,L
238,hkd89,770204-1,M,184.3,NaN,NaN,A,B,NaN,4865,m
239,hkd9,910913-1,M,168.3,NaN,NaN,A,B,NaN,3200,m
248,hkd98,701024-1,M,166.7,NaN,NaN,A,B,NaN,7385,m

In [7]:
# 수작업으로 채워 넣음, 특정값 사용

0      100.0
1       31.0
2       55.0
3      100.0
4      100.0
       ...
245     50.0
246     51.0
247     52.0
248    100.0
249     54.0
Name: age, Length: 250, dtype: float64

In [8]:
# 수작업으로 채워 넣음, 평균값 사용 (전체 평균 혹은 기준 속성 평균)

0      39.337607
1      31.000000
2      55.000000
3      39.337607
4      39.337607
         ...
245    50.000000
246    51.000000
247    52.000000
248    39.337607
249    54.000000
Name: age, Length: 250, dtype: float64

In [9]:
# 해당 데이터 행을 모두 제거

1      31.0
2      55.0
5      30.0
7      23.0
8      24.0
       ...
244    49.0
245    50.0
246    51.0
247    52.0
249    54.0
Name: age, Length: 234, dtype: float64

### 이상값(outlier)

* Turkey 방법 (IQR*1.5)

In [11]:
# 파일 로딩

In [ ]:
# EDA

In [ ]:
# quantile

In [ ]:
# quantile

In [ ]:
# salary, expenditure 이상값 있음

In [ ]:
# salary, expenditure 이상값 있음

In [ ]:
# salary, expenditure 이상값 추출

In [ ]:
# 삭제할 row index 추출

In [ ]:
# drop(row index 사용)으로 삭제

In [ ]:
# 조건으로 삭제

### 결합 (join)
* merge - inner, left, right join

In [ ]:
# 파일 로딩

In [ ]:
# merge 실습 파일 생성

In [ ]:
# merge  (inner join default)

In [ ]:
# merge   (left join)

In [ ]:
# merge   (right join)

In [ ]:
# merge   (outer join)

### Sampling
* Random sampling
* Stratified Random Sampling 
* Sytematic sampling
* Cluster sampling

In [ ]:
# 파일 로딩

In [ ]:
# Random sampling

In [ ]:
# Sytematic sampling

In [ ]:
# Cluster sampling

In [ ]:
# Stratified Random Sampling

### Normalization
* min_max scaling (최소-최대 변환)
* standard scaling (Z-score 변환)

In [ ]:
# 파일 로딩

In [ ]:
# histogram 확인

In [ ]:
# histogram 확인

In [ ]:
# min_max scaling (최소-최대 변환)

In [ ]:
# standard scaling (Z-score 변환)

In [ ]:
# histogram 확인

In [ ]:
# histogram 확인